@import "variables";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ellipsis ($max-width){
  display: inline-block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin grid($n){
  /*display: grid;
  grid-template-columns: repeat($n,1fr);
  grid-auto-rows: max-content;
  grid-gap: 10px;*/	
	
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax($n,1fr));
   grid-auto-rows: $n;
   grid-auto-flow: dense;
}

@mixin grid__active($n){
  grid-column-end: span $n;
  grid-row-end: span $n;
  grid-row-start: span $n;
}

