// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$breakpoint-large: 1360px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;